.banner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
  font: "Josefin Sans";
  transition: all 1s ease-out;
}

@keyframes closeBanner {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.banner_container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-bottom-style: none;
  max-width: 100%;
  top: 0;
  z-index: 100;
  position: sticky;
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 677px) {
  .banner {
    display: flex;
    align-items: center;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 320px) {
  .banner {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    height: 60px;
  }
}
