.bannerText_container {
  margin: 0.5rem 1.5rem;
}

@media screen and (max-width: 677px) {
  .bannerText {
    padding-right: 16px;
    font-size: 19px;
    background: -webkit-linear-gradient(top left, #0f2027, #203a43, #2c5364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 320px) {
  .bannerText {
    font-size: 12px;
    padding-right: 16px;
  }
}
